.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
    height: auto;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar-links {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin-right: 40px;
}

.navbar-login {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: rgba(151, 107, 14, 0.8);
}

.main-content {
    margin-top: 70px;
}
