.history-container {
  width: 100%;
  padding: 20px;
}

.history-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
  white-space: nowrap;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.add-button {
  background-color: #a57b5b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 865px;
}

.plus-icon {
  font-size: 20px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid;
  color : black;
}

.history-table th {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
  }
.history-table td {
  padding: 10px;
  border: 1px solid;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.history-table th {
  font-weight: bold;
}

.empty-row {
  color: #888;
  font-style: italic;
}
